@media screen and (max-width:600px){
    header .menu_wrap .menu {display:none;}
    header h1 a img {width:100px; display:block; position:relative; top:10px;}
    header .menu_wrap .search_menu_wrap .menu_all {display:block; }
    header .menu_wrap {margin-left:100px;}
    main .container {margin:50px 0; display:flex; flex-flow:column nowrap; gap:120px;}
    main .container .card .photo img {width:500px; height:350px;}
    footer address {padding:50px 50px; font-size:0.75rem;}
}   